{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="grey">
<h1>Head</h1>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus velit minus ipsum obcaecati, expedita at asperiores praesentium ad veritatis voluptate non! Esse quisquam odio perspiciatis reprehenderit debitis consectetur, unde velit?</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae dolorem asperiores. Amet, eaque consequatur?</p> 
<img src="{% static 'images/1006247.jpg' %}" alt="wdfwkjgf">
</body>
</html>